{% extends "PortfolioDatabase/base.html" %}
{% block body %}
<div class="d-flex align-items-center">
    <h1 class="homeTitle">Portfolio -</h1>
    <h3 class="nameTitle"><strong>Will Gunther</strong></h3>
</div>
<div class="row">
    {% for portfolio in portfolio_list %}
        {% if forloop.counter0|divisibleby:2 %}
            <!-- Left Column -->
            <div class="col-md-5 offset-md-1">
                <div class="card mb-4">
                    <img class="card-img-top" width="200px" src="{{portfolio.portfolio_image}}" alt="Image of {{portfolio.portfolio_name}}">                    
                    <div class="card-body">
                        <h3 class="mt-3 mb-0 txt-darkblue">{{portfolio.portfolio_name}}</h3>
                        <p class="mb-2">Date Created: {{portfolio.portfolio_created}}</p>
                        <h6>{{portfolio.portfolio_description}}</h6>
                        <a class="btn btn-dkblue-success" href="{% url 'PortfolioDatabase:PortfolioDetails' portfolio.id%}">Details</a>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- Right Column -->
            <div class="col-md-5 ml-auto">
                <div class="card mb-4">
                    <img class="card-img-top" width="200px" src="{{portfolio.portfolio_image}}" alt="Image of {{portfolio.portfolio_name}}">
                    <div class="card-body">
                        <h3 class="mt-3 mb-0 txt-darkblue">{{portfolio.portfolio_name}}</h3>
                        <p class="mb-2">Date Created: {{portfolio.portfolio_created}}</p>
                        <h6>{{portfolio.portfolio_description}}</h6>
                        <a class="btn btn-dkblue-success" href="{% url 'PortfolioDatabase:PortfolioDetails' portfolio.id%}">Details</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}